<div class="background-white intro">    
 <div id="profile" class="container intro-content">
  <h3 style="text-align: left" class="adjust_text">Educations</h3>
   <div class="row padding-needed">
     <div class="col-md-3">
       <div class="paragraph-font"><b>K L University</b></div>
       <p class="sub-para paragraph-font">April 2011 - Mar 2015</p> <br/>
     </div>

    <div class="col-md-8">
       <div class="paragraph-font"><b>Bachelor - Electrical and Electronics Engineering, CGPA: 8.39/10</b></div>
      <p class="sub-para paragraph-font">Learned all core and advanced topics in Electrical Engineering and also gained knowledge in SQL, C, java and web technologies parallely with the curriculm.</p>
      <p class="sub-para paragraph-font">My interest in mathematical modelling earned me a specialization in power systems.</p>
      <p class="sub-para paragraph-font">Courses like Problem Solving through Programming, Database Managment Systems and Micro processors and Micro controllers increased my passion towards software engineering.</p>
      <p class="sub-para paragraph-font">
        Graduated from university with Two best paper presentation awards, two paper publications, a poster presentation award and three job offers from Wipro, Cognizant and Infosys.</p>
       <span class="experience-details"> <span class="location">
        <p class="sub-para paragraph-font colored-font">  <i class="fa fa-map-marker"></i>
          Vaddeswaram, Guntur district,India | 
          <i class="fa fa-link"></i> <a href="https://www.kluniversity.in/">https://www.kluniversity.in/</a></p>
      </span>
      </span>
     </div>
   </div>
   <div class="row padding-needed">
    <div class="col-md-3">
      <div class="paragraph-font"><b>RK Junior College</b></div>
      <p class="sub-para paragraph-font">Mar 2009 - Mar 2011</p> <br/>
    </div>

   <div class="col-md-8">
    <div class="paragraph-font"><b>Intermediate - MPC (Maths/Physics & Chemistry), Percentage: 92.5%</b></div>
     <p class="sub-para paragraph-font">This is the place where I have gained problem solving skills and increased my passion towards engineering.</p>
     <span class="experience-details"> <span class="location">
       <p class="sub-para paragraph-font colored-font">  <i class="fa fa-map-marker"></i>
        Machilipatnam, Krishna District, India | <i class="fa fa-link"></i> <a href="http://www.rkedu.org/">http://www.rkedu.org/</a></p>
     </span>
     </span>
    </div>
  </div>
  <br/><br/>
 </div>
</div>