<div class="background-white intro">    
  <div id="profile" class="container intro-content">
      <p class="lead ">
          “I learned the value of hard work by working hard.”<br>-
          Margaret Mead
        </p>
   <h3 style="text-align: left" class="adjust_text">Work Experience <span class="smallerHeading">({{experience}})</span></h3>
    <div class="row padding-needed">
      <div class="col-md-3">
        <div class="paragraph-font"><b>Verizon Data Services India</b></div>
        <p class="sub-para paragraph-font">19th June 2017 – Present</p> <br/>
      </div>
 
     <div class="col-md-8">
        <div class="paragraph-font"><b>Fulltime - Software Engineer (Full Stack Java)</b></div>
       <p class="sub-para paragraph-font">Rewriting Verizon Wireless point of sale (POS) applications using <b>Spring 5, Spring Boot, Microservices, Angular 5 </b>and <b>AWS</b>. </p>
       <p class="sub-para paragraph-font">Added many functionalities to POS applications using <b>ATG Web Commerce Framework</b>.</p>
       <p class="sub-para paragraph-font">Fixed defects reported in production on priority basis. Most of the code that I’ve worked during the support is written in <b>ATG Web Commerce Framework</b>.</p>
       
        <span class="experience-details"> <span class="location">
         <p class="sub-para paragraph-font colored-font">  <i class="fa fa-map-marker"></i>
           Chennai, India | 
           <i class="fa fa-link"></i> <a href="https://www.verizonwireless.com/">https://www.verizonwireless.com/</a></p>
       </span>
       </span>
      </div>
    </div>
    <div class="row padding-needed">
     <div class="col-md-3">
       <div class="paragraph-font"><b>Cognizant</b></div>
       <p class="sub-para paragraph-font">30th June 2015 – 16th June 2017</p> <br/>
     </div>
 
    <div class="col-md-8">
     <div class="paragraph-font"><b>Fulltime - Programmer Analyst (Full Stack Java)</b></div>
      <p class="sub-para paragraph-font">Worked as an Application Developer on "Risk Management Information System (RMIS) and Account Service Agreement (ASA)" projects for The Hartford Financial Services Group, Inc.</p>
      <p class="sub-para paragraph-font">Ported and extended a legacy PL/SQL web app to modern technologies. Created the UI in PrimeFaces over <b>Java Server Faces (JSF)</b>, with the LESS CSS pre-compiler. UI backed up with Spring 4, JPA 2.0 with Hibernate 4.3 over Oracle 11g.</p>
      <p class="sub-para paragraph-font">Developed <b>RESTful Web Services</b> to expose data to external applications. Worked on <b>Data Visualization</b> modules using JAVA, JSON, jQuery and Fusion Charts.</p>
      <p class="sub-para paragraph-font">Developed account search, new account, edit account and delete account functionalities using <b>Spring MVC framework</b>. Consumed SOAP web services exposed by external applications.</p>
      <span class="experience-details"> <span class="location">
        <p class="sub-para paragraph-font colored-font">  <i class="fa fa-map-marker"></i>
         Chennai, India | <i class="fa fa-link"></i> <a href="https://www.cognizant.com/">https://www.cognizant.com/</a></p>
      </span>
      </span>
     </div>
   </div>
   <br/><br/>
  </div>
 </div>