<div class="background-white intro">
  		 
		<div id="contact" class="container intro-content">
        <div class="row padding-neeeded-extra">
            <div class="col-lg-12 col-lg-offset-2 text-center">
              <h2 style="font-size: 28px;" class="styledFont">
                <b>Want to work together?</b>
              </h2>
              <h2 style="font-size: 16px;" class="styledFont">Let's Convert a Great Idea Into a
                Reality!</h2>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 text-center "
              id="contactHoverPhone"  style="color: #00b386;">
              <i class="fa fa-phone fa-3x sr-contact"></i>
              <p>(91)996-223-7400</p>
            </div>
            <div class="col-lg-6 text-center " id="contactHover"
              data-placement="bottom"
              style="color: #00b386;">
              <i class="fa fa-envelope-o fa-3x sr-contact"></i>
              <p>hariharakumar88@gmail.com</p>
    
            </div>
        </div>
        <br/>
        <section id="bottombar">
              <div class="social-links col-lg-12 text-center">
                <span class="styledFont connect-me">Connect:</span>
                <a href="https://www.linkedin.com/in/haritummala" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.quora.com/profile/Hari-Hara-Kumar-4" class="quora"><i class="fa fa-quora"></i></a>
                <a href="https://github.com/h4hari" class="github"><i class="fa fa-github "></i></a>
                <a href="https://www.facebook.com/harakumar.smile" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/u/0/+HariHaraKumar88" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="https://www.instagram.com/name_is_hari/" class="instagram"><i class="fa fa-instagram"></i></a>
              </div>
          </section>
    </div>
</div>