<div class="background-white intro">
  		 
		<div id="achivements" class="container intro-content"> 
<section id="portfolio" class="wow fadeInUp">
    <div class="container">
      <div class="section-header">
          <p class="lead ">
              “Whenever I think of the past, it brings back so many memories.”
          </p>
          <p class="paragraphFont">We dont't remember days, we remember moments. These are the beautiful memories of what has happened in my experience.</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row no-gutters">

        <div class="col-md-3">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/images/birthday celebration.jpg" class="portfolio-popup">
              <img src="assets/images/birthday celebration.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-3">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/images/pamban bridge.jpg" class="portfolio-popup">
                <img src="assets/images/pamban bridge.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

        <div class="col-md-3">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/images/cts memories.jpg" class="portfolio-popup">
              <img src="assets/images/cts memories.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/images/vgp.jpg" class="portfolio-popup">
                <img src="assets/images/vgp.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-3">
              <div class="portfolio-item wow fadeInUp">
                <a href="assets/images/hartford team memories.jpg" class="portfolio-popup">
                  <img src="assets/images/hartford team memories.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                  </div>
                </a>
              </div>
            </div>


            <div class="col-md-3">
                <div class="portfolio-item wow fadeInUp">
                  <a href="assets/images/munnar re.jpg" class="portfolio-popup">
                    <img src="assets/images/munnar re.jpg" alt="">
                    <div class="portfolio-overlay">
                      <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                    </div>
                  </a>
                </div>
              </div>

        <div class="col-md-3">
          <div class="portfolio-item wow fadeInUp">
            <a href="assets/images/btech.jpg" class="portfolio-popup">
              <img src="assets/images/btech.jpg" alt="">
              <div class="portfolio-overlay">
                <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-3">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/images/outing.jpg" class="portfolio-popup">
                <img src="assets/images/outing.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

        <div class="col-md-3">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/images/prajwal marriage.jpg" class="portfolio-popup">
                <img src="assets/images/prajwal marriage.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>




      </div>

    </div>
  </section><!-- #portfolio -->
  <br/>
  <br/>
  </div>
</div>

 