.ability-score{
    float: right;
}
ul.no-bullets {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#abilities ul>li .ability-title {
	display: inline-block;
	width: 60%;
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
}
#abilities ul>li:hover {
	background: #F2F2F2;
}
#abilities ul>li {
	min-height: 30px;
	padding: 3px 0px;
}
#abilities ul>li:hover .ability-score .fa-star {
	margin-left: 2px;
}
#abilities ul>li .ability-score .fa-star {
	color: #DFE0E0;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#abilities ul>li .ability-score .fa-star.checked {
	color: #00b386;
}

hr {
    border: 0;
    height: 1px;
    border-top: 1px solid #b0b5b5;
    margin-top: 17px;
}
.center {
	text-align: center;
}
.project-referal {
	padding-top: 12px;
}