<div class="background-white intro">    
    <div id="abilities" class="container intro-content">
        <p class="lead ">
            “Learning never exhausts the mind.”<br>-
            Leonardo da Vinci
          </p>
        <div class="skillsss">
            <p class="skillHeading">Specialities:</p>
            <div class="row">
            <div class="col-md-6">
                <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Specialities")'>
                    <li>
                      <span class="ability-title">{{ablty.name}}</span>
                      <span class="ability-score"> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                      </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Specialities")'>
                    <li>
                      <span class="ability-title">{{ablty.name}}</span>
                      <span class="ability-score"> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                      </span>
                    </li>
                </ul>
            </div>
          </div>
          </div>
        <div class="skillsss">
            <p class="skillHeading">Programming Languages:</p>
            <div class="row">
            <div class="col-md-6">
                <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Programming Languages")'>
                    <li>
                      <span class="ability-title">{{ablty.name}}</span>
                      <span class="ability-score"> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                      </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Programming Languages")'>
                    <li>
                      <span class="ability-title">{{ablty.name}}</span>
                      <span class="ability-score"> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                      </span>
                    </li>
                </ul>
            </div>
          </div>
          </div>
          <div class="skillsss">
              <p class="skillHeading">Web Technologies:</p>
              <div class="row">
              <div class="col-md-6">
                  <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Web Technologies")'>
                      <li>
                        <span class="ability-title">{{ablty.name}}</span>
                        <span class="ability-score"> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                        </span>
                      </li>
                  </ul>
              </div>
              <div class="col-md-6">
                  <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Web Technologies")'>
                      <li>
                        <span class="ability-title">{{ablty.name}}</span>
                        <span class="ability-score"> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                        </span>
                      </li>
                  </ul>
              </div>
            </div>
            </div>
            <div class="skillsss">
                <p class="skillHeading">Java Frameworks & Technologies:</p>
                <div class="row">
                <div class="col-md-6">
                    <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Java Frameworks & Technologies")'>
                        <li>
                          <span class="ability-title">{{ablty.name}}</span>
                          <span class="ability-score"> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                          </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Java Frameworks & Technologies")'>
                        <li>
                          <span class="ability-title">{{ablty.name}}</span>
                          <span class="ability-score"> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                            <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                          </span>
                        </li>
                    </ul>
                </div>
              </div>
              </div>
              <div class="skillsss">
                  <p class="skillHeading">Frameworks:</p>
                  <div class="row">
                  <div class="col-md-6">
                      <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Frameworks")'>
                          <li>
                            <span class="ability-title">{{ablty.name}}</span>
                            <span class="ability-score"> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                            </span>
                          </li>
                      </ul>
                  </div>
                  <div class="col-md-6">
                      <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Frameworks")'>
                          <li>
                            <span class="ability-title">{{ablty.name}}</span>
                            <span class="ability-score"> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                              <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                            </span>
                          </li>
                      </ul>
                  </div>
                </div>
                </div>
                <div class="skillsss">
                    <p class="skillHeading">Databases & Languages:</p>
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Databases & Languages")'>
                            <li>
                              <span class="ability-title">{{ablty.name}}</span>
                              <span class="ability-score"> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                              </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Databases & Languages")'>
                            <li>
                              <span class="ability-title">{{ablty.name}}</span>
                              <span class="ability-score"> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                              </span>
                            </li>
                        </ul>
                    </div>
                  </div>
                  </div>
                  <div class="skillsss">
                      <p class="skillHeading">Data Visualization Libraries:</p>
                      <div class="row">
                      <div class="col-md-6">
                          <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Data Visualization Libraries")'>
                              <li>
                                <span class="ability-title">{{ablty.name}}</span>
                                <span class="ability-score"> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                                </span>
                              </li>
                          </ul>
                      </div>
                      <div class="col-md-6">
                          <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Data Visualization Libraries")'>
                              <li>
                                <span class="ability-title">{{ablty.name}}</span>
                                <span class="ability-score"> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                  <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                                </span>
                              </li>
                          </ul>
                      </div>
                    </div>
                    </div>
                    <div class="skillsss">
                        <p class="skillHeading">Cloud Services:</p>
                        <div class="row">
                        <div class="col-md-6">
                            <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Cloud Services")'>
                                <li>
                                  <span class="ability-title">{{ablty.name}}</span>
                                  <span class="ability-score"> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                                  </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Cloud Services")'>
                                <li>
                                  <span class="ability-title">{{ablty.name}}</span>
                                  <span class="ability-score"> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                    <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                                  </span>
                                </li>
                            </ul>
                        </div>
                      </div>
                      </div>
                      <div class="skillsss">
                          <p class="skillHeading">Tools & Utilities:</p>
                          <div class="row">
                          <div class="col-md-6">
                              <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Tools & Utilities")'>
                                  <li>
                                    <span class="ability-title">{{ablty.name}}</span>
                                    <span class="ability-score"> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                                    </span>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-md-6">
                              <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Tools & Utilities")'>
                                  <li>
                                    <span class="ability-title">{{ablty.name}}</span>
                                    <span class="ability-score"> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                      <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                                    </span>
                                  </li>
                              </ul>
                          </div>
                        </div>
                        </div>
                        <div class="text-center project-referal">
                                <p class="paragraph-font center">
                                    This website is crafted using Angualr 5, Firebase and AWS. Find this project on github <a target="_blank"
                                        href="https://github.com/h4hari/angular-my-portfolio"
                                        class="btn btn-default btn-sm downbtn adjust_btn"
                                        style="background-color: #00b386; color: #fff; border-radius: 10px; margin-left: 10px;"><i
                                        class="fa fa-code fa-fw"></i> <span class="network-name">Click
                                            Here!</span></a>
                                </p>
                            </div>
                        <hr/>
                       
                        <div class="skillsss">
                            <p class="skillHeading"style="padding-top: 0px;">Languages:</p>
                            <div class="row">
                            <div class="col-md-6">
                                <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("1","Languages")'>
                                    <li>
                                      <span class="ability-title">{{ablty.name}}</span>
                                      <span class="ability-score"> 
                                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                          <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                                      </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="no-bullets" id="feSkillsAddLeft" *ngFor='let ablty of getAbilities("2","Languages")'>
                                    <li>
                                      <span class="ability-title">{{ablty.name}}</span>
                                      <span class="ability-score"> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 1}" ></span> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 2}" ></span> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 3}" ></span> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating >= 4}" ></span> 
                                        <span [ngClass] = "{'fa': true, 'fa-star': true, 'checked': ablty.rating == 5}" ></span> 
                                      </span>
                                    </li>
                                </ul>
                            </div>
                          </div>
                          </div>  <br/><br/>

    </div>
</div>