<div class="background-white intro">
  		 
		<div id="achivements" class="container intro-content"> 
      <div>
        <p class="skillHeading extraPaddingg">Professional Cerifications:</p>
        <a href="https://goo.gl/H6wxcw" target="_blank"><img src="assets/images/AWSDeveloper.png" alt="Hari Hara Kumar"
        width="245" height="230" /></a>
      </div>

      <div>
          <p class="skillHeading extraPaddingg">Awards:</p>
          <ol class="paragraph-font">
            <li>Received Cognizant’s <b>‘Icon of the Month’</b> award for the work in Risk Management Information System (RMIS) project during Quarter-3, 2016.</li>
            <li>Won <b>First Prize</b> for paper presentation on ‘Nonlinear Autoregressive Network (NARX) Based Wind Power Prediction’ at ENCURS0-2k14 hosted by Jawaharlal Nehru Technological University Kakinada (JNTUK).</li>
            <li>Received <b>First Prize</b> for paper presentation on ‘Microcontroller Based Protection System for Transformer Oil Temperature Monitoring’ at MAHOTSAV-2014 hosted by Vignan University.</li>
            <li>Achieved <b>Second Prize</b> for poster presentation on ‘Role of Smart Micro-grids for Remote Village Electrification’ at AFOSEC-2014 hosted by Velagapudi Ramakrishna (VR) Siddhartha college of Engineering.</li>
          </ol>
      </div>

      <div>
          <p class="skillHeading extraPaddingg">Publications:</p>
          <ol class="paragraph-font">
            <li>K. P. Prasad Rao, T. Hari Hara Kumar and I. Raghunadh, <b><a href="http://www.ijmtst.com/documents/IJMTST0206616066.pdf">“A Narrative Approach to Five Phase Transmission System”</a></b>, International Journal for Modern Trends in Science and Technology, Volume. 2, Issue: 6, pp. 60-66, June-2016.</li>
            <li>T. Hari Hara Kumar and P. Aravind, <b><a href="https://www.ijareeie.com/upload/2014/october/22E_PHOTO.pdf">“Photovoltaic Grid-Connected System Based on Quasi-Z-Source Network”</a></b>, International Journal of Advanced Research in Electrical, Electronics and Instrumentation Engineering, Volume. 3, Issue: 10, pp. 12476-12484, October-2014.</li>
          </ol>
      </div>
<br/><br/>
    </div> 

</div>